@model IEnumerable<SchoolSystem.DAL.Models.User>

@{
    ViewData["Title"] = "Home Page";
}
<table class="table">
    <thead>
        <tr>
            <th>
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    
                </td>

                <td>
                    @user.FirstName
                </td>

                <td>
                    @user.LastName
                </td>
            </tr>
        }
    </tbody>
</table>