@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron">
    <div class="jumbotron">
        <h1 class="display-4">Добре дошли в SchoolSystem!</h1>
        <hr class="my-4">
        <p class="lead">
            SchoolSystem е онлайн платформа за обучение, предназначена да предостави на ученици, учители и обучаващи се през целия живот гъвкав и достъпен начин да разширят своите знания и умения. С SchoolSystem можете да получите достъп до широк набор от курсове, уроци, задачи и тестове от всяка точка на света, по всяко време, което ви е удобно.
        </p>
        <p class="lead">
            Нашата платформа предлага разнообразие от учебни ресурси, включително мултимедийни лекции, интерактивни тестове и практически задачи, за да ви помогне да придобиете по-задълбочено разбиране на избраните от вас теми. Независимо дали искате да допълните обучението си в класната стая, да научите ново умение или да преследвате страстен проект, SchoolSystem предлага набор от курсове и ресурси, които да отговарят на вашите нужди.
        </p>
        <p class="lead">
            Като студент можете да се запишете в курсове, да изпълнявате задачи и да полагате тестове, за да печелите оценки и да напредвате в програмата си за обучение. Учителите могат да създават и управляват курсове, да оценяват задачи и тестове и да наблюдават напредъка на своите ученици. Учещите през целия живот могат да изследват нашата библиотека от курсове и ресурси, за да търсят възможности за лично или професионално развитие.
        </p>
        <p class="lead">
            Вярваме, че образованието трябва да е достъпно за всеки, независимо от неговото местоположение, график или финансови обстоятелства. Ето защо се стремим да направим SchoolSystem приобщаваща и достъпна платформа за обучение, която може да бъде от полза за всеки с желание да учи и да расте.
        </p>
        <hr class="my-4">
    </div>
    @if (!User?.Identity?.IsAuthenticated == true)
    {
        <p>За да започнете, регистрирайте си акаунт.</p>
        <a class="btn btn-primary btn-lg" asp-controller="Authentication" asp-action="SignUp">Регистрирам</a>
        <a class="btn btn-primary btn-lg" asp-controller="Authentication" asp-action="SignIn">Впиши се</a>
    }
    else
    {
        <p>За да започнете, прегледайте нашите налични курсове.</p>
        <a class="btn btn-primary btn-lg" asp-controller="Course" asp-action="Index">Курсове</a>
    }
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}