@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Политика за поверителност</h1>
<hr>
<div class="container mt-3">
    <p>Тази Политика за поверителност обяснява как събираме, използваме и разкриваме информация за нашите потребители. Използвайки нашата платформа, вие се съгласявате с условията на тази Политика за поверителност.</p>

    <div class="card">
        <div class="card-body">
            <h4>Информация, която събираме</h4>
            <p>Ние събираме следната информация от нашите потребители: име, бащино име, фамилия, възраст, имейл, парола, адрес (по избор) и телефонен номер (по избор). Събираме тази информация, за да предоставяме услуги като тестове, четене на уроци и правене на задачи.</p>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-body">
            <h4>Споделяне на информация</h4>
            <p>Споделяме потребителска информация само с администраторите на платформата. Потребителската информация няма да бъде споделяна с трети страни рекламодатели или доставчици на услуги.</p>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-body">
            <h4>Информационна сигурност</h4>
            <p>Ние предприемаме мерки за защита на потребителската информация от неоторизиран достъп, разкриване или злоупотреба. Потребителските пароли се съхраняват с помощта на SHA256 криптиране и ние използваме ASP.NET идентичност за удостоверяване на потребителя.</p>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-body">
            <h4>Запазване и изтриване на данни</h4>
            <p>Ние ще запазим потребителската информация толкова дълго, колкото е необходимо за предоставяне на исканите услуги или както се изисква от закона. В момента нямаме политика или процедура за изтриване на потребителски данни.</p>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-body">
            <h4>Права на потребителя</h4>
            <p>Нашата платформа предоставя на потребителите следните права по отношение на тяхната лична информация:</p>
            <ul>
                <li>Право на достъп до тяхната лична информация</li>
                <li>Право на коригиране на неточна лична информация</li>
                <li>Право да поискат изтриване на тяхната лична информация</li>
            </ul>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-body">
            <h4>Опции за отказ</h4>
            <p>Потребителите могат да изберат да не споделят личната си информация, като не се регистрират за акаунт или не се запишат в курс.</p>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-body">
            <h4>Закони за защита на данните</h4>
            <p>Ние сме подчинени на законите за защита на данните, включително Общия регламент за защита на данните (GDPR) и Калифорнийския закон за защита на личните данни на потребителите (CCPA).</p>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-body">
            <h4>Бисквитки</h4>
            <p>Използваме бисквитки, за да съхраняваме информация за влизане на потребителите.</p>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-body">
            <h4>Допълнителни съображения</h4>
            <p>Нашата платформа предоставя четири различни потребителски роли: администратор, учител, потребител и гост. Гост потребителите нямат достъп до курсове, докато потребителските роли имат достъп до курсове. Учителите могат да създават курсове, тестове и друго съдържание, докато администраторските роли могат да управляват потребителски акаунти.</p>
        </div>
    </div>
</div>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
