@model SchoolSystem.DAL.DataTransferObjects.UserSignUpDataTransferObject

@{
    ViewData["Title"] = "Password Change Page";
}


<h1>Reset Password</h1>
<hr>

<form method="post" asp-action="ChangePassword" asp-controller="Account">
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" class="form-control" required />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" required />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-group" style="margin-top: 20px">
        <input type="submit" value="Save changes" class="btn btn-primary" />
    </div>
    <div asp-validation-summary="ModelOnly"></div>
</form>

<div>
    <a class="bi bi-arrow-bar-left" asp-action="Index">Back to account</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}