@model SchoolSystem.DAL.DataTransferObjects.UserSignUpDataTransferObject
@{
    ViewData["Title"] = "Sign up";
}

<h1>Страница за регистрация</h1>
<hr>
<form method="post" asp-action="SignUp" asp-controller="Authentication">
    <div class="form-group">
        <label asp-for="FirstName">Първо име</label>
        <input asp-for="FirstName" class="form-control" required />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MiddleName">Презиме</label>
        <input asp-for="MiddleName" class="form-control" required />
        <span asp-validation-for="MiddleName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName">Фамилия</label>
        <input asp-for="LastName" class="form-control" required />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email">Електронна поща</label>
        <input asp-for="Email" class="form-control" required />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password">Парола</label>
        <input asp-for="Password" type="password" class="form-control" required />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword">Потвърди парола</label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" required />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Age">Възраст</label>
        <input asp-for="Age" class="form-control" required />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address">Адрес (по избор)</label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Phone">Телефон (по избор)</label>
        <input asp-for="Phone" class="form-control" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <div class="form-group" style="margin-top: 20px">
        <input type="submit" value="Регистрирай се" class="btn btn-primary" />
    </div>
    <div asp-validation-summary="ModelOnly"></div>
</form>

<div>
    <a class="bi bi-arrow-bar-left" asp-action="SignIn">Обратно към страницата за вход</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}