@model IEnumerable<SchoolSystem.DAL.Models.Course>

@{
    ViewData["Title"] = "Courses";
}

@if (Model.Count() > 0)
{
    @foreach (var course in Model)
    {
        <a>@course.Name</a>
    }
}
else
{
    <div class="alert alert-warning d-flex align-items-center text-center" role="alert">
        <i class="bi-exclamation-triangle-fill" style="font-size: 5em;"></i>
        <div style="font-size:50px; margin-left: 20px">
            There are no courses in database!
        </div>
    </div>
}

@if(User.IsInRole("teacher") || User.IsInRole("admin"))
{
    <a asp-controller="Course" asp-action="CourseSection">
        Test
    </a>
}
