@model IEnumerable<SchoolSystem.DAL.Models.Course>

@{
    ViewData["Title"] = "Courses";
}

<h1>Курсове</h1>
<hr>

@if (User.IsInRole("teacher") || User.IsInRole("admin"))
{
    <a asp-controller="Course" asp-action="CreateCourse" class="bi bi-plus-circle-fill" style="font-size: 20px">
        Създайте нов курс
    </a>
    <hr>
}

@if (Model.Count() > 0)
{
    @foreach (var course in Model)
    {
        <div style="font-size: 25px; display:flex; justify-content: space-between; align-items: center;">
                    <a asp-route-id="@course.Id" asp-action="CourseSection" style="text-align:right;">@course.Name</a>
            @if (User.IsInRole("teacher") || User.IsInRole("admin"))
            {
                <div style="display: flex; align-items: center;">
                    <a class="btn btn-success bi bi-pencil-square" asp-action="EditCourse" asp-route-id="@course.Id">Редактиране на курса</a>
                    <div style="width: 10px;"></div> <!-- Creates space between buttons -->
                    <a class="btn btn-success bi bi-pencil-square" asp-action="AddUserInCourse" asp-route-id="@course.Id">Добавяне на потребител в курс</a>
                </div>
            }
        </div>
        <br>
    }
}
else
{
    <div class="alert alert-warning d-flex align-items-center text-center" role="alert">
        <i class="bi-exclamation-triangle-fill" style="font-size: 5em;"></i>
        <div style="font-size:50px; margin-left: 20px">
            Няма курсове в базата данни!
        </div>
    </div>
}


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}